<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow:600|Rasa:300,500" rel="stylesheet">
    <title>Hike Tracker</title>
</head>
<body>
    <nav class="mainnav">
            <ul>
                <li><a href="/new">New Hike</a></li>
                <!-- <li><a href="https://www.alltrails.com/">AllTrails</a></li> -->
            </ul>
    </nav>
    <header>
      <h1> Ramble</h1>
    </header>
    <main>
      <ul class="mainpage">
        <% for(let i = 0; i < hikes.length; i++){ %>
          <li class="mainli">
           <img src="<%= hikes[i].img%>" alt="" class="mainimg">
           <a href="/<%=hikes[i]._id%>"><%= hikes[i].name %></a>
        </li>
          <% } %>
      </ul>
      </main>
      

</body>
</html>