<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow:600|Rasa:300,500" rel="stylesheet">
    <title>Hike Tracker</title>
</head>
<body>
        <nav>
            <a href="/">Home</a>
        </nav>
    <header>
        <h1 class="newhead">Create a Hike</h1>
    </header>
    <div class="create">
        <form action="/" method="POST">
            Name: <input type="text" name="name" />
            <br />
            Distance: <input type="text" name="distance" />
            <br />
            Difficulty Notes: <input type="text" name="difficulty" />
            <br />
            Image Link: <input type="text" name="img" />
            <br />
            <input type="submit" value="Create Hike" />
        </form>
    </div>
    
</body>
</html>